<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./chat.css">
    <script src="./chat.js"></script>
    <title>Chat</title>
</head>
<body>
    <div id="loginContainer" class="container">
        <div class="input">
            <label for="username">Username</label>
            <input id="username" name="username" type="text">
        </div> 
        <button id="loginButton">Login</button>
    </div>
    <div id="chatContainer" class="hidden">
        <div id="chat">

        </div>
        <div class="chat-input">
            <div>
                <span id="usernameIndicator"></span>
                <input id="chatbox"/>
                <button id="chatSubmit">Send</button>
            </div>
        </div>
    </div>
</body>
</html>