<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat project</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <nav class="navBar">
        <h1>Chat</h1>
        <div class="auth">
            <a href="/chat"><b>Start chatting</b></a>
        </div>
    </nav>
    <img src="https://static.vecteezy.com/system/resources/previews/004/154/413/large_2x/people-working-and-meeting-illustration-free-vector.jpg" alt="People chatting">
</body>
</html>