body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(108deg, rgba(158,123,190,1) 0%, rgba(185,153,222,0.028448879551820738) 47%, rgba(118,164,213,1) 100%);
    margin: 0;
}

#chatContainer {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}

.container {
    display: inline-block;
}

.container label {
    display: block;
}

.container button {
    margin-top: 15px;
}

.container div {
    margin-top: 10px;
}

.hidden {
    display: none !important;
}

#chat {
    min-height: 0;
    overflow-y: auto;
    word-wrap: break-word;
}

.message {
    margin: 0;
}